.v9-titulo {
    background-color: black;
}

.estru{
    width: 30rem;
    border: 1px solid black;
    margin: auto;
    border-radius: 2rem;
    background-color: black;
    margin-bottom: 0.5rem;
}

.v9-general{
    width: 50rem;
    height: auto;
    border:1px solid black;
    margin:auto;
    background-color: black;
    border-radius:1rem;
}

.h1b2{
    font-size: 2.7rem;   
    text-align: center;
    color:white;    
}

.info100{
    width: 40rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto100{
    width:90%;
}

.info200{
    width: 40rem;
    height: 30rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom:0.5rem;
    text-align: center;
    margin: auto;
}

.foto200{
    width:80%;
}

.info300{
    width: 40rem;
    height: 25rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto300{
    width:100%;
}

.info400{
    width: 40rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto400{
    width:100%;
}

.info500{
    width: 40rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto500{
    width:100%;
}

.info600{
    width: 40rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto600{
    width:100%;
}

.info700{
    width: 40rem;
    height: 30rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin: auto;
}

.foto700{
    width:100%;
}

.final00{
    width: 40rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    background-color:white;
    padding:0.5rem;
    margin-bottom: 1rem;
    margin: auto;
}

.foto{
    width:100%;
}


@media (max-width: 375px) {
    .estru, .general {
        border: none;
    }
    
    .h1 {
        font-size: 2rem; 
    }

    .info1, .info2, .info3, .info4, .info5, .info6, .info7, .final {
        width: 100%;
        max-width: 100%;
        border: none;
        padding: 0.2rem;
    }
}


@media (min-width: 376px) and (max-width: 768px) {
    .estru, .general {
        width: 90%;
        margin: auto;
    }
    
    .h1 {
        font-size: 2.5rem;
    }

    .info1, .info2, .info3, .info4, .info5, .info6, .info7, .final {
        width: 80%;
        max-width: 80%;
        padding: 0.5rem;
    }
}

@media (min-width: 769px) {
    .estru, .general {
        width: 50rem;
    }
    
    .h1 {
        font-size: 3rem;
    }

    .info1, .info2, .info3, .info4, .info5, .info6, .info7, .final {
        width: 40rem;
        max-width: 40rem;
        padding: 1rem;
    }
}
